* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: #000; /* Fundo preto para o corpo da página */
    color: #FFD700; /* Texto amarelo */
    overflow-x: hidden;
}

nav {
    height: 100px;
    background-color: #000; /* Fundo preto para o nav */
}

.carousel {
    border: 1px solid #FFD700;
}

@media (min-width: 1600px) {
    .carousel {
        overflow: hidden;
        width: 100%;
    }

    .carousel-inner #img-one {
        margin-top: -400px;
    }

    .carousel-inner #img-two {
        margin-top: -500px;
    }

    .carousel-inner #img-three {
        margin-top: -200px;
    }

    .carousel-inner {
        height: 400px;
    }

    .carousel-item {
        width: 100%;
    }
}

.about {
    max-width: 100%;
    max-height: 100%;
    background-color: #fff; /* Fundo branco */
    color: #000; /* Texto preto */
    padding: 20px;
}

.quem-somos-container {
    width: 90%;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: justify;
    background-color: #fff; /* Fundo branco */
    color: #000; /* Texto preto */
}

/* Estilos para telas maiores que 670px */
@media (min-width: 670px) {
    .quem-somos-container {
        width: 70%;
        height: auto;
    }
}

.quem-somos-container h1 {
    text-align: center;
    color: #000; /* Título preto */
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.quem-somos-container p {
    color: #000; /* Texto preto */
    line-height: 1.6;
    font-size: 130%;
}

/* Ajustes para telas menores que 670px */
@media (max-width: 670px) {
    .quem-somos-container h1 {
        font-size: 2rem;
    }

    .quem-somos-container p {
        font-size: 1rem;
    }
}

.testimonials {
    color: #FFD700; /* Texto amarelo */
}

.card {
    border-radius: 20px;
    color: #FFD700; /* Texto amarelo */
    border: 2px solid #FFD700; /* Borda amarela */
    background-color: #000; /* Fundo preto */
}

.card-title {
    color: #FFD700; /* Título amarelo */
}

.circle {
    width: 100px;
    height: 100px;
    border: 1px solid #FFD700; /* Borda amarela */
}

h1 {
    text-align: center;
    color: #FFD700; /* Título amarelo */
}

.Commonquestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.accordion-button:not(.collapsed) {
    background-color: #FFD700; /* Fundo amarelo quando expandido */
    color: #000; /* Texto preto */
    border-color: #FFD700; /* Borda amarela */
}

.accordion-button {
    background-color: #fff; /* Fundo branco */
    border: 1px solid #FFD700; /* Borda amarela */
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 215, 0, 0.5); /* Sombra de foco amarela */
}

.accordion-item {
    border: 1px solid #FFD700; /* Borda amarela */
}

.accordion-body {
    background-color: #fff; /* Fundo branco para o conteúdo do accordion */
    color: #000; /* Texto preto */
}

.accordion-button:hover {
    background-color: #FFD700; /* Fundo amarelo no hover */
    color: #000; /* Texto preto */
}

@media (min-width: 670px) {
    .accordion {
        max-width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

footer {
    background-color: #FFD700; /* Fundo amarelo */
    color: #000; /* Texto preto */
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
}

footer h1,
footer p {
    color: #000; /* Texto preto */
    text-align: left;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #000; /* Texto preto */
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #333; /* Cor de hover mais escura para contraste */
}


.logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    margin-top: 10px;
}

.align-middle {
    vertical-align: middle !important;
}

.btnZap {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 999999999;
}

.btnZap:hover {
    cursor: pointer;
}

@keyframes whatsapp-anim {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(0.9);
    }

    40% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
