* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding e border não aumentem o tamanho do elemento */
    max-width: 100%;
}

body {
    overflow-x: hidden; /* Impede o scroll horizontal no corpo da página */
}

nav {
    height: 100px;
}

@media (min-width: 1600px) {
    .carousel {
        overflow: hidden; /* Impede o scroll horizontal dentro do carrossel */
        width: 100%;
    }
    
    .carousel-inner #img-one {
        margin-top: -400px;
    }
    
    .carousel-inner #img-two {
        margin-top: -500px;
    }
    
    .carousel-inner #img-three {
        margin-top: -200px;
    }
    
    .carousel-inner {
        height: 400px; /* Altura fixa do carrossel */
    }
    
    .carousel-item {
        width: 100%; /* Ajusta a largura dos itens do carrossel para cobrir a largura total */
    }
    
}

.about {
    max-width: 100%;
    max-height: 100%;
}

.quem-somos-container {
    width: 90%;
    height: auto; /* Ajusta a altura automaticamente ao conteúdo */
    margin: 50px auto; /* Centraliza a div horizontalmente */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: justify;
    background-color: white;
}

/* Estilos para telas maiores que 670px */
@media (min-width: 670px) {
    .quem-somos-container {
        width: 70%;
        height: auto;
    }
}

.quem-somos-container h1 {
    text-align: center;
    color: #0019FF;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.quem-somos-container p {
    color: black;
    line-height: 1.6;
    font-size: 130%;
}

/* Ajustes para telas menores que 670px */
@media (max-width: 670px) {
    .quem-somos-container h1 {
        font-size: 2rem;
    }

    .quem-somos-container p {
        font-size: 1rem;
    }
}

.testimonials {
    color: #5565FA;
}

.card {
    border-radius: 20px;
    color: black;
    border: 2px solid #0019FF;
}

.card-title {
    color: #0019FF;
}

h1 {
    text-align: center;
    color: #0019FF;
}

.Commonquestions {
    display: flex;
    justify-content: space-between; /* Espaça o botão e o texto */
    align-items: center;
    margin-top: 20px; /* Espaço acima do bloco de perguntas */
}

@media (min-width: 670px) {
    .accordion {
        max-width: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 10px;
}

footer h1 {
    text-align: left;
}

footer p {
    text-align: left;
    font-size: small;
}
.social-icons {
    margin-bottom: 10px;
}
.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #55acee; /* Cor do Twitter para exemplo */
}
.logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    margin-top: 10px;
}
.align-middle {
    vertical-align: middle !important;
}

.btnZap {
    position: fixed;
    left:20px; bottom:20px; z-index: 999999999;
}

    .btnZap:hover {
        cursor: pointer;
    }

@keyframes whatsapp-anim {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(0.9);
    }

    40% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}